<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSR IT Services</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>





<body>
    <header class="header"> 
        <div class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#service">services</a></li>              
                <li><a href="#team">team</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
      <div class="hero-content">
          <h3>Bring Your Bussiness Online</h3>
          <p>with IT Company Services</p>
          <a href="#contact" class="hero-button">Get in Touch</a>
      </div>
   </section>
   <br>
   <br>
   <br>
 
 




  <section id="about" class="about">
    <h1 class="heading">about us</h1>
    <div class="row">
        <div class="content">
            <h3>We make creativity work for your brand!</h3>
            <p>Ours is a team of creatives that is brainstorming on great ideas,<b> all. the. time.</b><br>
                With our skills put together, you get an ensemble capable of doing anything and everything your brand needs.</p>
            <a href="#"><button class="btn">Read More</button></a>
        </div>
    </div>
  </section>






  <div class="pt-5 pb-5" style="background-color: #f2f2f2;">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12" id="service">
          <h1>Our Services</h1>
          <p>We help you to build high-quality digital solutions and products as well as deliver a wide range of related professional services. We are providing world-class service to our clients.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-laptop"></i></span>
            <h6>Application/Web Development</h6>
            <p>Our Custom Web Development Services Include Both Front-End And Back-End Development. Whether It Is Enhancing An Existing App Or Architecting An Enterprise App, Our Developers Are Up For The Challenge.<br><br></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-android"></i></span>
            <h6>UI/UX Designer</h6>
            <p>UI/UX Designers are responsible for the overall feel, look, and functionality of a product from the user's perspective. They ensure that the product is not only visually appealing but also intuitive, efficient, and enjoyable to use.<br><br></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-magic"></i></span>
            <h6>Digital Marketing</h6>
            <p>The digital marketing services that we provide have their own set of charms. By taking our digital marketing services, our clients will be able to increase visibility and engage with their customers at the online platform.<br><br></p>
          </div>
        </div>
      </div>
    </div>
</div>





 






<div class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head-1 col-sm-12" style="text-align: center;">
          <h4 style="margin-top: -5rem;" id="portfolio"><span>Our</span> Projects</h4>
                  </div>
        
        <div class="col-lg-4 col-sm-6">
          
          <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>E-commerce Website</h6>
            
            <p>the development of a user-friendly online platform allowing customers to register, browse products, add items to their cart, securely process payments, and manage orders.<br></p>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>UI Design</h6>
            <p>User interface (UI) design is the process designers use to build interfaces in software or computerized devices, focusing on looks or style.<br><br></p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Portfolio Website</h6>
            <p>A portfolio website is a unique way to showcase your work and let others know about yourself. It's like an evergreen platform for your projects, case studies, and information about you.</p>
          </div>
        </div>
      </div>
    </div>
</div>






<div class="communicate">
       <a href="#contact"><button class="btn">Contact Now</button></a>
</div>
















<section class="team" style="margin-top: 7rem;">
  <h1 class="heading" style="margin-top: -1.5rem;" id="team">our team</h1>
  <p></p>
  <div class="row">
      <div class="card">
          <div class="image">
              <img src="C:\Users\VENKATESH\OneDrive\Desktop\ssr-it-services-main\ssr-it-services-main\portfolio_profile.jpg" alt="Team member 1">
          </div>
          <div class="info">
              <h3>Syam Sundar KV</h3>
              <span>Frontend/Web Developer <br> UI/UX Designer</span>
              <br>
              <br>
              <br>
              <div class="icons"> 
                  <a href="https://github.com/SyamSundarKV"  style="background-image: url('https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg');height: 10px;width: 10px;background-repeat: no-repeat;"></a>&nbsp;&nbsp;
                  <a href="https://www.instagram.com/" style="background-image: url('https://cdn.jsdelivr.net/npm/simple-icons@3.13.0/icons/instagram.svg');height: 10px;width: 10px;background-repeat: no-repeat;"></a>&nbsp;&nbsp;
                  <a href="https://www.linkedin.com/in/syam-sundar-kv?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"  style="background-image: url('https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg');height: 10px;width: 10px;background-repeat: no-repeat;"></a>&nbsp;&nbsp;
              </div>
          </div>
      </div>
  </div>
  </section>










<section id="contact" class="contact">
    <h1 class="heading">get in touch</h1>
</section>
<div class="contact-in">
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30711243.17762776!2d64.4398422293091!3d20.011408266548177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1644684739958!5m2!1sen!2sin" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="contact-form">
        <form action="/form" method="POST">
            <input type="text" name="name" placeholder="Name" class="contact-form-txt" required>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required placeholder="Contact number" maxlength="10" class="contact-form-phone">
            <input type="email" name="email" placeholder="Email" class="contact-form-email" required>
            <textarea placeholder="Your Message" name="review" class="contact-form-txtarea" required></textarea>
            <input type="submit" value="Submit" name="submit" class="contact-form-btn">
        </form>
    </div>
    </div>








    <div class="footer">
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-6 footer-links">
                      <h4>About Us</h4>
                      <ul>
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#">Home</a></li>
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#about">About us</a></li>
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#service">Our services</a></li>                          
                      </ul>
                  </div>

                  <div class="col-lg-3 col-md-6 footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#portfolio">Portfolio</a></li>
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#team">Team</a></li>   
                          <li><i class="ion-ios-arrow-forward"></i> <a href="#contact">Contact</a></li>                         
                      </ul>
                  </div>

                  <div class="col-lg-3 col-md-6 footer-contact" style="font-size: 1.5rem;">
                      <h4>Contact Us</h4>
                      <p>
                          <strong>Email:</strong>ssrservices.08@gmail.com<br>
                      </p>

                      
                  </div>

                 

              </div>
          </div>
      </div>

      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6 copyright" style="color: #fff; font-size: 1.3rem;">
                 <!-- Copyright &copy; 2024 SSR IT Services. All Rights Reserved.-->
          </div>
      </div>
  </div>

  <a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
</body>
</html>
